@model IEnumerable<ProjetoFinalVitor.Models.Cidade>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/butos.css" />
<h1>Cidades</h1>

<p>
    <a class="a" asp-action="Create">Adicionar Cidade</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CidadeNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Estado.EstadoNome)
            </td>
            <td class="lado">
                <a class="a" asp-action="Edit" asp-route-id="@item.Id"><span>Editar</span></a> |
                    <a class="a" asp-action="Details" asp-route-id="@item.Id"><span>Detalhes</span></a> |
                    <a class="a" asp-action="Delete" asp-route-id="@item.Id"><span>Deletar</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
