@model IEnumerable<ProjetoFinalVitor.Models.Colaborador>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/butos.css" />
<h1>Colaboradores</h1>

<p>
    <a class="a" asp-action="Create">Adicionar Colaborador</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Colaborador", FormMethod.Get))
    {

        <p class="search">
            Buscar: @Html.TextBox("pesquisa")
            <input class="pesquisa" type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipocolaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorTelefone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cidade.CidadeNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tipocolaborador.TipoColaboradorNome)
            </td>
                <td class="lado">
                    <a class="a" asp-action="Edit" asp-route-id="@item.Id"><span>Editar</span></a> |
                    <a class="a" asp-action="Details" asp-route-id="@item.Id"><span>Detalhes</span></a> |
                    <a class="a" asp-action="Delete" asp-route-id="@item.Id"><span>Deletar</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
