@model IEnumerable<ProjetoFinalVitor.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/butos.css" />
<h1>Clientes</h1>

<p>
    <a class="a" asp-action="Create">Adicionar Clientes</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
    {

            <p class="search">
            Buscar: <br> @Html.TextBox("pesquisa")

                <input class="pesquisa" type="submit" value="Pesquisar" />
            </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.CidadeNome)
            </td>
                <td class="lado">
                    <a class="a" asp-action="Edit" asp-route-id="@item.Id"><span>Editar</span></a> |
                    <a class="a" asp-action="Details" asp-route-id="@item.Id"><span>Detalhes</span></a> |
                    <a class="a" asp-action="Delete" asp-route-id="@item.Id"><span>Deletar</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
